{% extends 'base.html' %}
{% block title %}Student List{% endblock %}

{% block content %}
    <div class="btn-group">
        <a href="{% url 'add' %}" class = "btn btn-info">Add Student</a>
    </div>
    <p></p>
    <table class = "table">
        <thead>
            <tr>
                <th scope="col">姓名</th>
                <th scope="col">ふりがな</th>
                <th scope="col">生年月日</th>
                <th scope="col">性別</th>
                <th scope="col">修正</th>
                <th scope="col">削除</th>
            </tr>
        </thead>
        <tbody>
            {% for student in object_list %}
                <tr>
                    <td><a href="{% url 'detail' pk=student.id %}">{{student.family_name}}{{student.given_name}}</a></td>
                    <td>{{student.family_name_huri}}{{student.given_name_huri}}</td>
                    <td>{{student.birth}}</td>
                    <td>{{student.gender}}</td>
                    <td><a href="{% url 'update' pk=student.id %}" class="btn btn-success btn-sm">修正</a></td>
                    <td><a href="{% url 'delete' pk=student.id %}" class="btn btn-danger btn-sm">削除</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for object in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == forloop.counter %} disabled {% endif %}">
                    <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number}}">Next</a>
                </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}